/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 9, 2017, 12:42:14 PM
    Author     : alban_mulaki
*/

/*
** Price Table
*/
.price-table{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.price-table:hover{
    transition: all .25s linear;
    box-shadow: 0 10px 20px 0 rgb(61, 139, 224);
}
.package-title{
    background:#3d8be0;
}

.package-features li{
    line-height: 2;
}
.package-features li:nth-child(2n-1){
    background:#f7f7f7;
}
.package-features ul{
    padding:0;
}

.price-table h3,.price-table h2{
    color:#fff;
    font-weight:bold;
}
.price-table li{
    list-style:none;
    padding: 6px;
    /*         background:#eee; */
}
.order-button{
    margin-top: -25px;
}
