/node_modules
/public/storage
/public/css
/public/js
/public/fonts
/public/images
/public/assets
/public/mix-manifest.json
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/nbproject/private/