#/html
/node_modules
/public_html/storage
/public_html/css
/public_html/js
/public/fonts
/public_html/images
/public_html/assets
/public_html/vendor
/fonts
/public_html/mix-manifest.json
/public_html/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/nbproject
/composer.lock
/public_html/vendor/js-localization/messages.js
/.vagrant/machines/larabit/virtualbox/action_set_name
/npm-debug.log
