/html
/node_modules
/public/storage
/public/css
/public/js
/public/fonts
/public/images
/public/assets
/public/vendor
/fonts
/public/mix-manifest.json
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/nbproject
/composer.lock
/public/vendor/js-localization/messages.js
/.vagrant/machines/larabit/virtualbox/action_set_name
/npm-debug.log
