
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

/*@import "./users/user-roles.scss";*/
//@import "./users/user-profile.scss";




.top_nav li a i{
    font-size: none;
}

.collapse-link{
    cursor : pointer;
}

.panel_toolbox > li {
    float: right;
    margin-right: 10px;
}