
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

/*@import "./users/user-roles.scss";*/
//@import "./users/user-profile.scss";
/*@import "./clientarea/bootflat/scss/bootflat.scss";*/



.top_nav li a i{
    font-size: none;
}

.collapse-link{
    cursor : pointer;
}

.panel_toolbox > li {
    float: right;
    margin-right: 10px;
}

.menu-header{
    background:#f7f7f7;
}


/**
 * Bootstrap Modification
 */
body{
    color:#4A5960;
}
.label{
    border-radius:1px;
}
.label-primary{
    background:#3d8be0;
    border-radius:1px;
}
.btn{
    transition: all .25s linear;
    border-radius:1px;    
    text-transform:uppercase;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.26);
}
.btn-primary{
    background:#3d8be0;
    border-color:#3d8be0;
    border:none;
}
.btn-primary:hover{
    background:#5ca5f3;
    border-color:#5ca5f3;
    border:none;
}
.btn-default{
    color:#3d8be0;
    background:#fff;
    border:none;
}
.btn-default:hover{
    background:#fff;
    color:#3d8be0;
    border:none;
}
.btn-danger{
    background:#f84545;
    border-color:#f84545;
    border:none;
}
.btn-danger:hover{
    background:#fd5d5d;
    border-color:#fd5d5d;
    border:none;
}
.btn-info{
    border:none;
}
.btn-info:hover{
    border:none;
}

a{
    color:#3d8be0;
}

a:focus,a:hover{
    color:#337ccc;
}

a:focus{
    text-decoration: underline;
}

.navbar{
    border:none;
}